
@font-face {
  font-family: 'Noah-bold';
  src: url('../fonts/Noah-Bold.eot');
  src: local('../fonts/Noah Bold'), local('Noah-Bold'),
      url('../fonts/Noah-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Noah-Bold.woff2') format('woff2'),
      url('../fonts/Noah-Bold.woff') format('woff'),
      url('../fonts/Noah-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah-Regular.eot');
  src: local('../fonts/Noah Regular'), local('Noah-Regular'),
      url('../fonts/Noah-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Noah-Regular.woff2') format('woff2'),
      url('../fonts/Noah-Regular.woff') format('woff'),
      url('../fonts/') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'GetVoIP Grotesque';
	src: url('../fonts/GetVoIPGrotesque.eot');
	src: local('../fonts/GetVoIP Grotesque'), local('GetVoIPGrotesque'),
		url('../fonts/GetVoIPGrotesque.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GetVoIPGrotesque.woff') format('woff'),
		url('../fonts/GetVoIPGrotesque.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



@mixin bold {
  font-family: 'Noah-bold', sans-serif;
}

@mixin regular {
  font-family: 'Noah', sans-serif;
}

@mixin header {
  font-family: 'GetVoIP Grotesque', sans-serif;
}