// Colors
$hover-menu-color: #828AEB;
$hamburger-color: #7E8FBF;
$text-color: #374957;
$main-color: #374957;
$optional-text-color: #666666;
$text-white: #ffffff;
$bg-white: #ffffff;
$shadow: #4F56B21A;
$footer-bg: #3F64B0;

$gradient-start: #FF7F09;
$gradient-end: #FFB805;
$gradient: linear-gradient(264deg, $gradient-start 2.15%, $gradient-end 54.75%);
//text-size
$menu-text-size: 16px;