.aboute {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    @include section-header($center: true)
  }

  &__description {
    @include section-description($text-align: center);
    max-width: 860px;
    padding-left: 50px;
    padding-right: 50px;
  }

  &__advantages {
    margin-top: 100px;
  }

  .advantages {
    max-width: 850px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 205px;
      color: $text-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      width: auto;
      height: auto;
    }

    &__header {
      @include bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 0px;
    }

    &__description {
      @include regular;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-top: 14px;
    }
  }

}

@media (max-width: 620px) {
  .aboute {
    .advantages {
      align-items: center;
      flex-direction: column;
      &__item {
        margin-bottom: 30px;
      }
    }

    .aboute__advantages {
      margin-top: 35px;
    }
  }
}


@media (max-width: 480px) {
  .aboute {
    &__header {
      margin-bottom: 0px;
    }

    &__description {
      font-size: 14px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}