$header-height: 70px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  margin-bottom: 20px;
  .logo {
    &__img {
      width: 230px;
      height: 33px;
    }
  }

  .navigation {
    &__list {
      display: flex;
      margin: 0;
    }

    &__item {
      list-style: none;

      &:first-child {
        margin-left: 0px;
      }
    }

    &__link {
      @include bold;

      color: $text-color;
      font-size: $menu-text-size;
      text-decoration: none;
      border-radius: 5px;

      margin: 0px 16px;
      padding: 8px;

      transition-property: background-color, padding, margin;
      transition-duration: .2s;

        &:hover {
          color: $text-white;
          background-color: $hover-menu-color;
          padding: 8px 24px;
          margin: 0px;
        }
    }
  }
}

.hamburger-menu {
  display: none;
  z-index: 100;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 101;

  background-color: $bg-white;
  border-radius: 100%;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 22px;
  height: 2px;

  background-color: #7E8FBF;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: $bg-white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-property: right;
  transition-duration: .25s;
  z-index: 100;
}

.menu__item {
  display: block;
  color: $text-color;
  @include bold;
  text-decoration: none;
  transition-duration: .25s;

  padding: 8px;
  margin-left: 24px;

  transition-property: background-color, padding, margin;
  transition-duration: .2s;

    &:hover {
      color: $text-white;
      background-color: $hover-menu-color;
      padding: 8px 24px;
      margin: 0px;
    }
}


@media (max-width: 860px) {
  .header{
    height: 100px;
    .navigation {
      &__link {
        font-size: 14px;
        margin: 0px 8px;
        &:hover {
          padding: 8px 16px;
        }
      }
    }
    .logo {
      &__img {
        width: 180px;
      }
    }
  }
}

@media (max-width: 700px) {
  .header{
    .navigation {
      display: none;
    }
  }

  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 600px) {
  .header {
    .logo {
      &__img {
        margin-left: 20px;
        width: 150px;
        height: 20px;
      }
    }
  }
}