.how-use {
  background-image: url('../images/how-use-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  padding: 100px 0;

  #slider__img {
    width: 400px;
  }

  .itcss__indicators {
    display: none;
  }

  &__header {
    @include section-header;
    color: $text-white;

    &--mobile {
      color: $text-color;
      margin: 0 auto;
      display: none;
    }
  }

  &__guide {
    @include bold;
    padding: 8px 30px;
    border: 1px solid;
    font-size: 16px;
    line-height: 18px;
    border-color: #FF7F09;
    color: $text-color;
    border-radius: 30px;
    text-decoration: none;
    background-color: #f7f5f8;
  }

  &__content {
    margin-left: 30px;
  }

  .slider {
    &__container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &__images {
      display: flex;
      position: relative;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .sliderImgesRoll {
      max-height: 534px;
      max-width: 555px;
    }

    &__img {
      width: 555px;
    }

    &__contents {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      height: 185px;
      max-height: 185px;
      max-width: 345px;
    }

    &__content {
      min-width: 345px;

      &-header {
        display: block;
        @include bold;
        color: $text-white;
        font-size: 20px;
        line-height: 24px;
      }

      &-text {
        display: block;
        @include regular;
        color: $text-white;
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__control {
      position: absolute;
      bottom: 0;

      &-btn {
        width: 25px;
        height: 25px;
        padding: 0px;
        border-radius: 100%;
        border: 2px solid transparent;
        margin-right: 5px;
        transition: border .1s;
        background: none;

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          cursor: pointer;
          border: 2px solid #FFB805;
        }

        &.btn-active {
          border: 2px solid #FF7F09;
        }

        &::before {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background: linear-gradient(199.98deg, #FF7F09 -27.5%, #FFB805 86.67%);
          border-radius: 100%;
          margin: 0 auto;
        }

      }
    }
  }
}

@media (max-width: 903px) {
  .how-use {
    background-position: bottom;
    background-image: url('../images/how-use-bg-mobile.svg');
    padding-top: 50px;
    &__header {
     display: none;
      &--mobile {
        display: block;
        text-align: center;
        margin-bottom: 50px;
      }
    }
    .slider {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__content {
        margin-top: 30px;
        &-header {
          text-align: center;
        }

        &-text {
          text-align: center;
        }
      }
      &__control {
        position: absolute;
        bottom: -50px;
        transform: translateX(50%);
      }
    }
  }
}


@media (max-width: 650px) {
  .how-use {
     background-size: 100%;
     background-position-y: 140px;

    .slider {
      &__content {
        margin-top: 50px;
        &-header {
          color: $text-color;
        }

        &-text {
          color: $text-color;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .how-use {
    #slider__img {
      width: 300px;
    }
    .slider {
      &__content {
        margin-top: 50px;
        &-header {
          font-size: 18px;
        }

        &-text {
          font-size: 14px;
        }
      }
    }
  }
}