$main-screen-top-margin: 70px + $header-height;
$main-screen-height: 100vh;

.main-screen {
  width: 100%;
  height: calc(#{$main-screen-height} - #{$main-screen-top-margin});
  background-image: url('../images/main-bg.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size:  contain;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-bottom: 0px;

  .content {
    display: flex;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 40px;

    &__container {
      max-width: 485px;
    }

    &__header {
      @include section-header($font-size: 60px, $margin-bottom: 19px);
    }

    &__description {
      @include section-description($text-align: left);
    }

    &__link {
      color: $text-white;
      background: $gradient;

      display: inline-block;
      padding: 12px 60px;
      margin-top: 10px;

      font-size: 18px;
      text-decoration: none;
      border-radius: 30px;
    }

    &__img {
      height: 600px;
    }
  }

  .mobile-app {
    background: $bg-white;
    box-shadow: 0px 15px 30px $shadow;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    max-width: 840px;
    width: 100%;



    &__link {
      @include bold;
      color: $text-color;
      text-decoration: none;
      padding: 24px 10px;
      display: flex;
      align-items: center;
    }

    &__icon {
      width: 30px;
      height: 35px;
      margin-right: 16px;
    }

    &::before {
      content: '';
      width: 3px;
      height: 52px;
      border-radius: 30px;
      background-color: $main-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(50%) translateY(-50%);
    }
  }
}

@media (max-width: 1090px) {
  .main-screen {
    .content {
      &__container {
        margin-left: 25px;
      }

      &__img {
        height: 500px;
      }
    }
  }
}

@media (max-width: 960px) {
  .main-screen {
    background-size: 90%;
    background-position-x: 140px;

    .content {
      &__img {
        height: 450px;
      }
    }
  }
}

@media (max-width: 870px) {
  .main-screen {
    .mobile-app {
      margin: 0 20px;
      width: auto;
      max-width: none;
    }
  }
}

@media (max-width: 790px) {
  .main-screen {
    .content {
      &__img {
        margin-top: 50px;
        height: 370px;
      }
    }
  }
}

@media (max-width: 730px) {
  .main-screen {
    height: calc(#{$main-screen-height} - 30px);
    background-position-x: center;
    background-position-y: 250px;
    margin-bottom: 50px;
    .content {
      flex-direction: column;
      &__img {
       width: 172px;
       height: 300px;
       margin: 0 auto;
       margin-top: 50px;
       margin-bottom: 25px;
      }
    }

    .mobile-app {
      background: none;
      box-shadow: none;
      border-radius: 0;
      flex-direction: column;

      &__link {
        background-color: $bg-white;
        box-shadow: 0px 15px 30px $shadow;
        border-radius: 30px;
        width: 100%;
        padding-left: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::before {
        content: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .main-screen {
    height: calc(#{$main-screen-height} - 100px);
    .content {
        &__header {
          max-width: 300px;
        }
        &__description {
          font-size: 14px;
          max-width: 350px;
        }
      }
    }

  }


@media (max-width: 500px) {
  .main-screen {
    background-size: 120%;
    .mobile-app {
      &__link {
        justify-content: flex-start;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      &::before {
        content: none;
      }
    }
  }
}

@media (max-width: 500px) and (max-height: 1017px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .content__img {
      display: none;
    }
    .content {
      margin-top: 0px;
    }

  }
}

@media (max-width: 500px) and (max-height: 840px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 250px;

    height: 100vh;
    margin-bottom: 0px;
  }
}

@media (max-width: 414px) and (max-height: 840px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 250px;
    height: 90vh;
  }
}

@media (max-width: 500px) and (max-height: 750px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 250px;
    height: 110vh;
  }
}

@media (max-width: 414px) and (max-height: 770px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 250px;
    height: 90vh;
  }
}


@media (max-width: 500px) and (max-height: 650px) {
  .main-screen {
    height: 120vh;
  }
}

@media (max-width: 414px) and (max-height: 670px) {
  .main-screen {
    background-size: 100%;
    background-position-y: 250px;
    height: 110vh;
  }
}

@media (max-width: 500px) and (max-height: 580px) {
  .main-screen {
    height: 100vh;
  }
}