.tariff {
  margin-top: 50px;
  padding-top: 50px;
  height: 720px;
  background-image: url('../images/tariffs-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &__header {
    @include section-header($center: true);
    margin-top: 0px;
  }

  .container {
    max-height: 500px;
    height: 100%;
    padding: 0 70px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__header {
      @include bold;
      color: $text-white;
      font-size: 20px;
      line-height: 24px;
      max-width: 515px;

    }

    &__description{
      @include regular;
      color: $text-white;
      font-size: 16px;
      line-height: 24px;
      max-width: 515px;
      margin-top: 0;
    }

    &__img {
      width: 209px;
      height: 258px;
    }
  }
}

@media (max-width: 1380px) {
  .tariff {
    background-size: 120%;
    background-position-y: 120px;
  }
}

@media (max-width: 1000px) {
  .tariff {
    background-size: 150%;
    background-position-y: 120px;
  }
}


@media (max-width: 900px) {
  .tariff {
    background-position-y: 95px;
    background-size: 180%;
    .content {
      flex-direction: column;
      align-items: flex-end;

      &__container {
        margin-top: 100px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 680px) {
  .tariff {
    background-image: url('../images/tariffs-mobile-bg.svg');
    background-size: 150%;
    background-position: center;
    height: 630px;
    margin-top: 0px;

    &__header {
      text-align: left;
      padding: 0 25px;
    }

    .container {
      padding: 0 25px;
    }

    .content {
      &__description {
        font-size: 14px;
      }

      &__img {
        width: 157px;
        height: 194px;
      }
    }
  }
}

@media (max-width: 490px) {
  .tariff {
    background-position: bottom;
    height: 570px;
    margin-bottom: 40px;
    .content__container {
      margin-top: 0px;
    }
    .content__header {
      color: $text-color;
    }
    .content__description {
      color: $text-color;
    }
  }

}