.video {

  &__header {
    @include section-header($center: true);
  }

  &__player {
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 711px;
    height: 400px;
    box-shadow: 0px -15px 30px #4f56b21a, 0px 15px 30px #4f56b21a;
    margin: 0 auto;
    cursor: pointer;
  }

  &__preview {
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: $bg-white;
    box-shadow: 0px 4px 30px #07061dcc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      width: 80px;
      height: 80px;
    }
  }

  &__play-btn-icon {
    transform: translateX(15%);
  }

  .youtube-video {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 30px;

    &--show {
      display: block;
    }
  }

}

@media (max-width: 800px) {
  .video__player {
    width: 100%;
    height: 100%;
  }

  .video__play-btn {
    width: 50px;
    height: 50px;
  }

  .video__play-btn-icon {
      width: 15px;
  }

  .video .youtube-video {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .video {
    padding: 50px 0px;
  }
}

@media (max-width: 450px) {
  .video .youtube-video {
    height: 250px;
  }
}

@media (max-width: 400px) {
  .video .youtube-video {
    height: 100%;
  }
}

